.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.username {
    margin-left: auto;
}

.btn-cls {
    position: absolute;
    right: 0;
    background-color: var(--tg-theme-button-color, #ff1111);
    color: var(--tg-theme-button-text-color, #fff);
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

    .btn-cls:hover {
        background-color: var(--tg-theme-button-hover-color, #006699);
    }